<div style="margin-bottom: 25px;">
  <label>Rows to be displayed: </label>
  <select (change)="onChange($event.target.value)">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
    <option value="50">50</option>
  </select>
</div>
<div>
  <ngx-datatable class="material" [headerHeight]="50" [footerHeight]="50" [limit]="rowsLimit" columnMode="force"
   rowHeight="40" [rows]="sampleData">
    <ngx-datatable-column name="Name" [width]="300"></ngx-datatable-column>
    <ngx-datatable-column name="Phone"></ngx-datatable-column>
    <ngx-datatable-column name="Email" [width]="300"></ngx-datatable-column>
    <ngx-datatable-column name="Company" [width]="300"></ngx-datatable-column>
    <ngx-datatable-column name="City" [width]="150"></ngx-datatable-column>
    <ngx-datatable-column name="Zip" [width]="80"></ngx-datatable-column>
    <ngx-datatable-column name="Fee" [width]="80"></ngx-datatable-column>
    <ngx-datatable-column name="Status" [width]="150"></ngx-datatable-column>
  </ngx-datatable>
</div>
